@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Helvetica;
}

#root > div {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.header-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
}

.sm-photo-card {
  // not sure this is needed
}

.sm-photo {
  width: 300px;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
  filter: contrast(0.9);
}

.sm-photo:hover {
  filter: contrast(1);
}

.full-photo {
  height: 80vh;
  object-fit: cover;
  border-radius: 4px;
}
