@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Helvetica;
}

#root > div {
  display: flex;
  height: 100vh;
}

.header-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
}
